<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md">
            <h3>{{ site.aboutHackathonTitle }}</h3>
            {% for row in site.hackathonRows %}
            <div class="hackathon-row col-md">
                <div class="hackathon-details">
                    <h4>{{ row.title }}</h4>
                    <p>{{ row.details }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End About Hackathon Section -->
