<!-- Begin Tickets 2 Section -->
<section id="tickets" class="tickets-2">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
			<div class="animated hiding" data-animation="fadeInDown" data-delay="0">
			{% assign animationDelay = 0 %}
				<iframe src="http://www.eventick.com.br/jsday-recife-2015/embedded" frameborder="0" height="325px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
			</div>
			<span class="tickets-info">{{ site.ticketsInfo }}</span>
		</div>
	</div>
</section>
<!-- End Tickets 2 Section -->
